---
interface Props {
	href: string;
}

import RSS from '~icons/ph/rss';

const { href } = Astro.props;
---

<a href={href} title="Syndication Feed"><RSS class="inline-block align-text-bottom" /></a>
