---
import { SITE } from '~/config.mjs';
import Layout from '@layouts/PageLayout.astro';

interface Props {
	frontmatter: {
		title: string;
		pubDate: string;
		tags?: string[];
		license?: string;
		origin_url?: string;
	};
	headings: {
		depth: number;
		text: string;
		slug: string;
	}[];
}
const { frontmatter } = Astro.props;

let license_url;
if (frontmatter.license != null) {
	license_url = 'https://spdx.org/licenses/' + frontmatter.license + '.html';
}

const [firstHeading] = Astro.props.headings;

const meta = {
	title: `${frontmatter.title} | ${SITE.title}`,
	description: firstHeading?.text || '',
};
---

<Layout meta={meta}>
	<section class="py-8 sm:py-16 lg:py-20 mx-auto">
		<div
			class="container mx-auto px-6 sm:px-6 max-w-3xl prose prose-steel dark:prose-invert prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:underline-offset-4 prose-a:decoration-steel-200 dark:prose-a:decoration-steel-500 hover:prose-a:text-primary-600 dark:hover:prose-a:text-primary-400 prose-img:rounded-md prose-img:shadow-lg"
		>
			<h1 class="mb-6 pb-6 border-b border-steel-100 dark:border-steel-700">
				{frontmatter.title}
			</h1>
			<slot />
			{
				frontmatter.license && (
					<p class="page-license">
						This page's content is available under the <a href={license_url}>{frontmatter.license}</a> license.
						{frontmatter.origin_url && (
							<span>
								It is derived from this <a href={frontmatter.origin_url}>original source</a>.
							</span>
						)}
					</p>
				)
			}
		</div>
	</section>
</Layout>
